<!DOCTYPE html>
<html lang="en">

<head>

    <title>Add BLog</title>
    <%- include("./partials/header") %>
    
</head>
    
<body>

    <%- include("./partials/script") %>
    <%- include("./partials/navbar") %>
</body>

</html>